<div class="add-ons-item" data-variant-id="{{ addon.variants.first.id }}">
  <a href="{{ addon.url }}"><div class="image">
      <img alt="{{ addon.title }}" class="responsively-lazy" src="{{ addon | img_url: '150x' | split:"?" | first }}" data-srcset="{{ addon | img_url: '45x' | split:"?" | first }} 45w, {{ addon | img_url: '55x' | split:"?" | first }} 55w, {{ addon | img_url: '60x' | split:"?" | first }} 60w, {{ addon | img_url: '80x' | split:"?" | first }} 80w, {{ addon | img_url: '95x' | split:"?" | first }} 95w, {{ addon | img_url: '105x' | split:"?" | first }} 105w, {{ addon | img_url: '140' }} 140w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    </div></a>
  <div class="desc">
    <a href="{{ addon.url }}"><div class="title">{{ addon.title }}</div></a>
    <div class="checkbox">
      <div class="price">+ {{ addon.price | money }}</div>
      <div class="bttn blue"><span></span><span></span></div>
      <div class="bttn green hidden">✓</div>
    </div>
  </div>
</div>