{% if settings.use_side_cart_summary %}
<div id="overlay"></div>
<div id="cart-summary" class="cart-summary">
  <!-- cart-summary -->
  <div class="inner">
    <p>
      <a href="/cart" style="float:left;font-size: 15px;"><i class="icon-cart slim"></i></a>
      REVIEW YOUR CART
      <a class="toggle-cart-summary"  style="float:right" href="#"><span class="fa fa-close"></span></a>
    </p>
    {% if cart.items.size > 0 %}
    {% assign c = cart.total_price | times:1 %}
      <h5 class="cart-summary-title shippingmsg" {% if c < 7500 %}style="display:none;"{% endif %}><i class="fa fa-check-circle" aria-hidden="true"></i> YOU HAVE EARNED FREE SHIPPING</h5>
      {% if c < 7500 %}<div class="shipping-banner"><div class="cart-summary-title shippingmsg nn-secondary-middle">Add up to $75.00 For <b>Free shipping</b></div></div>{% endif %}
    <div class="cart-summary-item-list ft ftw">
      {% for item in cart.items %}
      <div class="cart-summary-item ftr cf">
        <span class="image ftc">{{ item | img_url: 'small' | img_tag: item.title | link_to: item.url }}</span>
        <span class="title-variant ftc">
          <a class="title" href="{{ item.product.url | within: collection }}">
            {% if item.product.title contains 'Aaron Kai' %}
            {% assign title = item.product.title | split: ' ' %}
            {% assign s =  title | size %}
            <span style="font-weight:bold;">
              Aaron Kai
            </span>
            {% for i in (2..s) %}
            {{ title[i] }}
            {% endfor %}
            {% else %}
            {% assign title = item.product.title | split: ' ' %}
            {% assign s =  title | size %}
            <span style="font-weight:bold;">
              {{ title[0] }}
            </span>
            {% for i in (1..s) %}
            {{ title[i] }}
            {% endfor %}
            {% endif %}
          </a>

          {% unless item.variant.title contains 'Default' %}<span class="variant">{{ item.variant.title }}</span>{% endunless %}
          <span class="price ftc{% if item.variant.compare_at_price > item.variant.price %} on-sale{% endif %}">
            {% if item.variant.compare_at_price > item.variant.price %}<del>{{ item.variant.compare_at_price | money }}</del>{% endif %}
            {{ item.price | money }}
          </span>
          <a data-id="{{ item.variant_id }}" class="remove feature-col">{{ 'cart.general.remove' | t }}</a>
        </span>
        <span class="qty ftc">
          <input type="number" class="micro select-on-focus" step="1" value="{{ item.quantity }}" />
        </span>
      </div>
      {% endfor %}
    </div>
    <div class="cart-summary-footer">
      <div class="cart-summary-subtotal">
        {{ 'layout.cart_summary.subtotal' | t }}  <span class="amount">{{ cart.total_price | money }}</span>
      </div>
      {% if c < 7500 %}
      <div class="cart-summary-title shippingmsg2">
        <i class="fa fa-exclamation" aria-hidden="true"></i> You're almost there to qualify for FREE SHIPPING!
      </div>
      {% else %}
      <div class="cart-summary-title shippingmsg2" style="font-size:15px;">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> FREE SHIPPING added!
      </div>
      {% endif %}
      <div class="cart-summary-buttons cf">
        {% if settings.cart_side_onebutton %}
        <a id="checkout" class="btn checkout" href="/cart">{{ 'layout.cart_summary.cart' | t }}</a>
        {% else %}
        <div class="a-button">
          <a class="btn alt cart" href="/cart">{{ 'layout.cart_summary.cart' | t }}</a>
        </div>
        <div class="a-button align-right">
          <a class="btn checkout" href="/checkout">{{ 'layout.cart_summary.checkout' | t }}</a>
        </div>
        {% endif %}
      </div>
    </div>

    {% else %}
    <div class="shipping-banner"><div class="cart-summary-title shippingmsg nn-secondary-middle">Add $75.00 For <b>Free shipping</b></div></div>
    <!--h5 class="cart-summary-title shippingmsg err">ADD $75 FOR FREE SHIPPING</h5-->
    <div class="cart-summary-item-list ft ftw">
      <h5 class="cart-summary-title empty">YOUR CART IS EMPTY</h5>
    </div>
    <div class="cart-summary-footer">
      <div class="cart-summary-buttons cf">
        <a href="/" class="btn checkout">PROCEED TO CHECKOUT</a>
      </div>
    </div>
    {% endif %}
  </div>
  <!-- cart-summary -->
</div>
{% endif %}