<div class="js-btn-other btn-other hide-for-large-up fix">
  <div class="btn-other__inner">
    <div class="span12">
    <div class="other-data">
    <img class="product-image" src="{{ featured_image | img_url: 'thumbnail' }}" alt="{{ product.title }}">
      <h1 class="product-title" itemprop="name">
        {% if product.title contains 'Aaron Kai' %}
        {% assign title = product.title | split: ' ' %}
        {% assign s =  title | size %}
        <span style="font-weight:bold;">
          Aaron Kai
        </span>
        {% for i in (2..s) %}
        {{ title[i] }}
        {% endfor %}
        {% else %}
        {% assign title = product.title | split: ' ' %}
        {% assign s =  title | size %}
        <span style="font-weight:bold;">
          {{ title[0] }}
        </span>
        {% for i in (1..s) %}
        {{ title[i] }}
        {% endfor %}
        {% endif %}
      </h1>
      <div class="product-price js-det-price "> {{ product.price | money }} </div>
    </div>
    {% if product.available %}
    <form class="product-form" id="product-form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{ product.id }}">
      <input type="hidden" name="quantity" value="1" />
	  <input type="hidden" name="id[]" value="{{ product.selected_or_first_available_variant.id }}">
      <button name="add" class="buy-now" id="add">{{ 'products.product.add_to_cart_html' | t }}</button>
    </form>
    {% else %}
      <div class="rte">
        {{ 'products.product.product_unavailable_html' | t }}
      </div>
    {% endif %}
    </div>
  </div>
</div>
<script type="application/javascript">
   var st = $(window).scrollTop();
	$(window).scroll( function() {
      //js-btn-daddy-mobile
	  if ( $('.js-btn-daddy').height() > 0 ) {
		if ( st >= $('.js-btn-daddy').offset().top + $('.js-btn-daddy').height() - 53 ) {
		  $('.js-btn-other').addClass('is-active');
		} else {
		  $('.js-btn-other.is-active').removeClass('is-active');
		}
	  }else if( $('.js-btn-daddy-mobile').height() > 0 ) {
		if ( st >= $('.js-btn-daddy-mobile').offset().top + $('.js-btn-daddy-mobile').height() - 53 ) {
		  $('.js-btn-other').addClass('is-active');
		} else {
		  $('.js-btn-other.is-active').removeClass('is-active');
		}
	  }
	  st = $(window).scrollTop();
	});
</script>