<footer id="page-footer" class="page-footer">
  <div class="container wrap">
    <div class="logo-col"><a href="{{ shop.url }}"><img {% comment %}src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-{% endcomment %}src="{{ 'FK-logo-square.svg' | asset_url }}" alt=""></a></div>
    <div class="social-col">{% include 'social-links' %}</div>
    <div class="menu b-nav1">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Shop</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="/">All styles</a>
        <a href="javascript:void(0)" class="hidden">Best sellers</a>
        <a href="javascript:void(0)" class="hidden">New arrivals</a>
        <a href="javascript:void(0)" class="hidden">Accessories</a>
        <a href="/pages/reviews" class="hidden">Reviews</a>
        <a href="javascript:void(0)" class="hidden">Sale</a>
      </nav>
    </div>
    <div class="menu b-nav2">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Company</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="javascript:void(0)" class="hidden">Our story</a>
        <a href="javascript:void(0)" class="hidden">Floatopia</a>
        <a href="javascript:void(0)" class="hidden">Become a stockist</a>
        <a href="javascript:void(0)" class="invoke-popup-hello">Join the family</a>
      </nav>
    </div>
    <div class="menu b-nav3">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Support</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="javascript:void(0)">FAQ</a>
        <a href="https://tools.usps.com/go/TrackConfirmAction_input" target="_blank">Track my order</a>
        <a href="/pages/support">Customer support</a>
        <a href="javascript:void(0)">Contact</a>
      </nav>
    </div>

    <!--region old code-->
    {% comment %}
    <div class="row section padless-top">
      <!-- Logo and links -->
      <div class="fourth column first">
        {% comment %}
        <div class="logo-column column mobile-logo">
          <a href="{{ shop.url }}" title=""><img src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'footer_logo.png' | asset_url | split:'?' | first }}" alt=""></a>
        </div>
        {% endcomment %}

        <ul class="plain inline list-divide">
          {% for link in linklists.footer-2.links %}
            <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>

      </div>


      <!-- Social icons -->
      <div class="fifth column second">
        <div class="social-column align-left-desktop full column">
          {% include 'social-links' %}
        </div>
      </div>


      <!-- Win cash line -->
      <div class="fourth column">
        {% if template != 'product' and template != 'cart' %}
          <div class="competition">
            <a class="title ftc" href="/pages/win-cash">WANT TO <strong>WIN $5000 CASH</strong></a>
            <button class="buy-btn" onclick='window.location.href="/pages/win-cash"'>ENTER HERE</button>
          </div>
        {% endif %}
      </div>

      <div class="copy">{{ 'layout.footer.copyright' | t }} &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</div>
    </div>
    {% endcomment %}

    <!--endregion-->
  </div>
  <div class="copyright-stripe">
    <div class="container">
      <div class="copy">{{ 'layout.footer.copyright' | t }} &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</div>
      <div class="c-cards">
        <img src="{{ 'card1.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'card2.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'card3.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'card4.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'card5.svg' | asset_url | split:'?' | first }}" alt="">
      </div>
    </div>
  </div>
</footer>