<footer id="page-footer" class="page-footer">
  <div class="container">
    <div class="row section padless-top">
      <!-- Logo and links -->
      <div class="fourth column first">
        {% comment %}
        <div class="logo-column column mobile-logo">
          <a href="{{ shop.url }}" title=""><img src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'footer_logo.png' | asset_url | split:'?' | first }}" alt=""></a>
        </div>
        {% endcomment %}

        <ul class="plain inline list-divide">
          {% for link in linklists.footer-2.links %}
            <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>

      </div>

      <!-- Social icons -->
      <div class="fifth column second">
        <div class="social-column align-left-desktop full column">
          {% include 'social-links' %}
        </div>
      </div>

      <!-- Win cash line -->
      <div class="fourth column">
        {% if template != 'product' and template != 'cart' %}
          <div class="competition">
            <a class="title ftc" href="/pages/win-cash">WANT TO <strong>WIN $5000 CASH</strong></a>
            <button class="buy-btn" onclick='window.location.href="/pages/win-cash"'>ENTER HERE</button>
          </div>
        {% endif %}
      </div>

      <div class="copy">{{ 'layout.footer.copyright' | t }} &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</div>
    </div>
  </div>
</footer>