<footer id="page-footer" class="page-footer">
  <div class="container wrap">
    <div class="logo-col"><a href="{{ shop.url }}"><img src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'FK-logo-square.svg' | asset_url | split:"?" | first }}" alt=""></a></div>
    <div class="social-col">{% include 'social-links' %}</div>
    <div class="menu b-nav1">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Shop</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="/">All styles</a>
      </nav>
    </div>
    <div class="menu b-nav2">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Company</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="javascript:void(0)" class="invoke-popup-hello">Join the family</a>
      </nav>
    </div>
    <div class="menu b-nav3">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Support</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="https://tools.usps.com/go/TrackConfirmAction_input" target="_blank">Track my order</a>
        <a href="https://support.floatiekings.com/" target="_blank">Customer support</a>
        <a href="/pages/returns">Returns</a>
      </nav>
    </div>
  </div>
  <div class="copyright-stripe">
    <div class="container">
      <div class="copy">{{ 'layout.footer.copyright' | t }} &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</div>
      <div class="c-cards">
        <img src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'card1.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'card2.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'card3.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'card4.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'card5.svg' | asset_url | split:'?' | first }}" alt="">
      </div>
    </div>
  </div>
</footer>