<div class="popup-stock-overlay">
  <div class="popup-stock">
    <span class="popup-close-btn top"><span class="fa fa-close"></span></span>
    <!-- Begin MailChimp Signup Form -->
    <div class="mc-form-wrap">
      <form action="https://floatiekings.us13.list-manage.com/subscribe/post?u=48982d426a910167c31a85aa0&amp;id=3a995a35be&PTITLE={{ product.title | url_param_escape }}&PSKU={{ product.selected_or_first_available_variant.sku | url_param_escape }}&PLINK={{ shop.url | url_param_escape }}{{ product.url | url_param_escape }}" method="post" id="popup-stock-form" name="mc-embedded-subscribe-form" class="validate popup-stock-form" target="_blank">

        <p class="popup-message">{{ 'popups.stock.will_notify' | t }}</p>

        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="{{ 'popups.stock.your_email' | t }}">
          </div>
          <div class="mc-status"></div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_48982d426a910167c31a85aa0_3a995a35be" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="{{ 'popups.stock.submit' | t }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <div class="popup-stock-confirmation" style="display: none;">
      <p class="popup-message">{{ "popups.stock.email_added" | t }}</p>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>
<script>

    // Display the form status
    var popupStockDisplayStatus = function (data) {
        console.log(data); //TODO Kuz: Remove this

        // Make sure the data is in the right format
        if (!data.result || !data.msg ) return;

        // Get the status message content area
        var mcStatus = document.querySelector('.popup-stock .mc-status');
        if (!mcStatus) return;

        // Update our status message
        if (data.result === 'error') {
            mcStatus.innerHTML = data.msg;
        }

        if (data.result === 'success') {
            console.log('Successfully submitted!');
            $('.popup-stock .mc-form-wrap').hide();
            $('.popup-stock-confirmation').show();

        }
    };

    // Serialize the form data into a query string
    // Forked and modified from https://stackoverflow.com/a/30153391/1293256
    if (typeof serialize !== "function") {
        function serialize(form) {

            // Setup our serialized data
            var serialized = '';

            // Loop through each field in the form
            for (i = 0; i < form.elements.length; i++) {

                var field = form.elements[i];

                // Don't serialize fields without a name, submits, buttons, file and reset inputs, and disabled fields
                if (!field.name || field.disabled || field.type === 'file' || field.type === 'reset' || field.type === 'submit' || field.type === 'button') continue;

                // Convert field data to a query string
                if ((field.type !== 'checkbox' && field.type !== 'radio') || field.checked) {
                    serialized += '&' + encodeURIComponent(field.name) + "=" + encodeURIComponent(field.value);
                }
            }

            return serialized;

        }
    }

    // Submit the form
    if (typeof submitMailChimpForm !== "function") {
        function submitMailChimpForm(form, callback) {

            // Get the Submit URL
            var url = form.getAttribute('action');
            url = url.replace('/post?u=', '/post-json?u=');
            url += serialize(form) + '&c=' + callback;

            // Create script with url and callback (if specified)
            var script = window.document.createElement('script');
            script.src = url;

            // Insert script tag into the DOM (append to <head>)
            var ref = window.document.getElementsByTagName('script')[0];
            ref.parentNode.insertBefore(script, ref);

            // After the script is loaded (and executed), remove it
            script.onload = function () {
                this.remove();
            };


        };
    }

    // function to obtain GET parameter from the address line
    if (typeof getUrlParameter !== "function") {
        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        }
    }
    function popupStockHide() {
        $('.popup-stock-overlay').hide().removeClass('active');
        $('body').removeClass('body-no-scroll');
    }
    function popupStockShow() {
        $('.popup-stock-overlay').css('display', 'flex').addClass('active');
        $('body').addClass('body-no-scroll');
    }
    function popupStockInit() {
        $('.invoke-popup-stock').each(function() {
            $(this).on('click', function() {
                popupStockShow( true )
            });
        });
        $('.popup-stock .popup-close-btn').on('click', function(e){
            popupStockHide();
        });
        $('.popup-stock-overlay').on('click', function(e){
            if (e.target !== this) return;
            popupStockHide();
        });
    }

    window.addEventListener('load', popupStockInit);
    document.getElementById('popup-stock-form').addEventListener('submit', function(event) {
        // Prevent form from submitting
        event.preventDefault();

        // Otherwise, let the form submit normally
        // You could also bolt in an Ajax form submit process here
        submitMailChimpForm(event.target, 'popupStockDisplayStatus');


    }, false);

</script>