<div class="product-block">
  <div class="product-item-inside">
    <a {% if product.images.size > 1 %}class="img-wrap" {% endif %}href="{{ product.url }}">
      {% if product.images.size > 1 %}
        <img class="img-swap img-product-{{ product.handle }}" src="{{ product.images.last | product_img_url: 'large' | split:'?' | first }} "/>
      {% endif %}
      <img class="img-primary img-product-{{ product.handle }}" src="{{ product | img_url: 'large' | split:'?' | first }} "/>
    </a>
    {% if false and product.compare_at_price_max > product.price %}
      <span class="product-label sale">Sale</span>
    {% endif %}
    {% if product.handle contains 'tube' or product.handle contains 'neapolitan' %}
      <span class="product-label new-in">New in</span>
    {% endif %}
    <a class="info-wrap" href="{{ product.url }}">
      <div class="product-title">{{ product.title }}</div>
      <div class="price-wrap">
        {% if product.compare_at_price_max > product.price %}
          <del>{{ product.compare_at_price | money }}</del>
          <span class="sale-price">{{ product.price | money }}</span>
        {% else %}
          <span class="price amount">{{ product.price | money }}</span>
        {% endif %}
      </div>
      <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'>{{ product.metafields.judgeme.badge }}</div>
    </a>
  </div>
</div>

<style>
  .section .jdgm-preview-badge{
  text-align: center;
}
</style>