<div class="product-block">
  <a class="img-wrap" href="{{ product.url }}"><img src="{{ product | img_url: 'large' | split:'?' | first }} "/>
    <div class="label {{ product.handle }}">
      <div class="bestseller-title">
        {% if product.metafields.info['bestseller_text'] != blank %}
          {{ product.metafields.info['bestseller_text'] }}
        {% else %}
          {{ product.title }}
        {% endif %}
      </div>
      <div class="bestseller-shop">{{ 'pages.buttons.shop_now' | t}}</div>
    </div>
  </a>
</div>