{% if settings.shipping-banner-enable %}
  {% unless template contains 'product' %}
  <div class="shipping-banner visible-mobile">
    <div class="nn-secondary-middle">{{ 'cart.shipping.shipping-banner_html' | t }}
      <nobr>{{ settings.free_shipping_from | money }}</nobr>
    </div>
  </div>
  {% endunless %}
{% endif %}

<!-- Desktop -->
<section class="section products-section bestsellers visible-desktop">
  <div class="header">#Floatie bestsellers</div>
  <div class="container">
    <div class="row grid">
      {% for product in collections['bestsellers'].products limit: 2 %}
        {% include 'product-bestseller' %}
      {% endfor %}
    </div>
  </div>
</section>

<div class="banners-2-wrap">
  <div class="banner banner-best-friend visible-desktop">
    <div>{{ 'layout.banners.bring_best_friend_html' | t }}</div>
  </div>
  <div class="banner banner-memories-forever visible-desktop">
    <div>{{ 'layout.banners.memories_last_forever_html' | t }}</div>
  </div>
</div>

<section class="section products-section product-list visible-desktop">
  <a name="fun-rides"></a>
  <div class="container">
    <div class="row grid">
      {% for product in collections['frontpage'].products %}
        {% include 'product-block' %}
      {% endfor %}
    </div>
  </div>
</section>

<div class="banners-3-wrap visible-desktop">
  <div class="banner shop-collection" style="background: url({{ 'shop-emojis.png' | asset_url | split: '?' | first }}) center center no-repeat; background-size: cover;"><a href="javascript:void(0)"></a></div>
  <div class="banner shop-collection" style="background: url({{ 'shop-fun-rides.png' | asset_url | split: '?' | first }}) center center no-repeat; background-size: cover;"><a href="javascript:void(0)"></a></div>
  <div class="banner shop-collection" style="background: url({{ 'shop-donuts.png' | asset_url | split: '?' | first }}) center center no-repeat; background-size: cover;"><a href="javascript:void(0)"></a></div>
</div>

<!-- /Desktop -->

<!-- Mobile -->
<section class="section products-section product-list visible-mobile">
  <a name="bestsellers"></a>
  <div class="container">
    <div class="row grid">
      {% for product in collections['swans'].products limit: 6 %}
        {% include 'product-block' %}
      {% endfor %}
    </div>
  </div>
</section>

<div class="banner banner-memories-forever visible-mobile">
  <div><span>{{ 'layout.banners.memories_last_forever' | t }}</span></div>
</div>

<section class="section products-section product-list visible-mobile">
  <a name="fun-rides"></a>
  <div class="container">
    <div class="row grid">
      {% for product in collections['fun-rides'].products limit: 2 %}
        {% include 'product-block' %}
      {% endfor %}
    </div>
  </div>
</section>

<div class="banner banner-best-friend visible-mobile">
  <div>{{ 'layout.banners.bring_best_friend_html' | t }}</div>
</div>
<!-- region Countdown -->
{% comment %}
<div id="countdown-stripe" class="visible-desktop"></div>
<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Sep 20, 2017 00:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        hours += days*24;
        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}

        // Display the result in the element with id="demo"
        document.getElementById("countdown-stripe").innerHTML = "Hurry! <span>Sale</span> ends in <strong>" + hours + ":" + minutes + "</strong> hours!";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown-stripe").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
{% endcomment %}
<!-- endregion -->
<section class="section products-section product-list visible-mobile">
  <a name="donuts"></a>
  <div class="container">
    <div class="row grid">
      {% for product in collections['donuts'].products limit: 6 %}
        {% include 'product-block' %}
      {% endfor %}
    </div>
  </div>
</section>

<div class="visible-mobile banner shop-collection" style="background: url({{ 'shop-donuts.png' | asset_url | split: '?' | first }}) center center no-repeat; background-size: cover;">
  <a href="javascript:void(0)">
  </a>
</div>


<section class="section products-section product-list visible-mobile">
  <a name="emojis"></a>
  <div class="container">
    <div class="row grid">
      {% for product in collections['emojis'].products limit: 3 %}
        {% include 'product-block' %}
      {% endfor %}
    </div>
  </div>
</section>

<div class="banner shop-collection visible-mobile" style="background: url({{ 'shop-emojis.png' | asset_url | split: '?' | first }}) center center no-repeat; background-size: cover;">
  <a href="javascript:void(0)"></a>
</div>
<!-- /Mobile -->

<!-- Aaron Kai banner -->
<section id="aron-kai" class="border-top section bottom-banner">
  <div class="container">
    <div class="banner">
      <img src="{{ 'aaronKai-banner.png' | asset_url | split:"?" | first }}" alt="Home AaronKai Banner" />
    </div>
  </div>
</section>

<section class="section products-section product-list">
  <div class="container">
    <div class="row grid">
      {% for product in collections['aaron-kai'].products limit: 3 %}
        {% include 'product-block' %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- Badwood banner -->
<section class="border-top section bottom-banner">
  <div class="container">
    <div class="banner">
      <img src="{{ 'bottom-banner_new.png' | asset_url | split:"?" | first }}" alt="Home Banner" />
    </div>
  </div>
</section>

<section class="section products-section product-list">
  <div class="container">
    <div class="row grid">
      {% for product in collections['ski-mask'].products limit: 1 %}
        {% include 'product-block' %}
      {% endfor %}
    </div>
  </div>
</section>


<div class="banner shop-collection visible-mobile" style="background: url({{ 'shop-fun-rides.png' | asset_url | split: '?' | first }}) center center no-repeat; background-size: cover;">
  <a href="javascript:void(0)"></a>
</div>

<section class="section products-section product-list">
  <div class="container">
    <div class="row grid">
      {% for product in collections['pump'].products limit: 1 %}
        {% include 'product-block' %}
      {% endfor %}
    </div>
  </div>
</section>


<section id="insta">
  <h4 class="center">{{ 'layout.misc.summer_story_html' | t }}</h4>
  <div class="header">
    {{ 'layout.misc.follow_us_html' | t }} <span class="fa fa-instagram"></span> <strong>floatie</strong>kings
  </div>

  <div id="instafeed" class="grid"></div>
</section>
<script type="text/javascript">
    function instafeed_ig(callback) {
      {% assign instafeed_template = '<a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="{{orientation}}" src="{{image}}" alt="{{caption}}" /></a>' %}
        var feed = new Instafeed({
            accessToken: '2077099952.1677ed0.9304752d4bff4ab49f5eabae56f5bec8',
            target: 'instafeed',
            get: 'user',
            userId: '2077099952',
            resolution: 'standard_resolution',
            limit: 15,
            sortBy: 'most-recent',
            template: '{{ instafeed_template }}'
        });

        feed.run();
        if(typeof callback === "function") callback();
    }
    window.addEventListener('load', function() { instafeed_ig() });

</script>
