<div class="banner-index">
  <picture>
    <source media="(min-width: 1920px)" srcset="{{ 'Header_Banner_PoolsOpen.gif' | asset_url | split:"?" | first }}">
    <source media="(min-width: 1650px)" srcset="{{ 'Header_Banner_PoolsOpen.gif' | asset_url | split:"?" | first }}">
    <source media="(min-width: 1440px)" srcset="{{ 'Header_Banner_PoolsOpen.gif' | asset_url | split:"?" | first }}">
    <source media="(min-width: 1024px)" srcset="{{ 'Header_Banner_PoolsOpen.gif' | asset_url | split:"?" | first }}">
    <source media="(min-width: 751px)" srcset="{{ 'Header_Banner_PoolsOpen.gif' | asset_url | split:"?" | first }}">
    <source media="(min-width: 300px)" srcset="{{ 'header_banner_PoolsOpen_750.gif' | asset_url | split:"?" | first }}">
    <img src="{{ 'header_banner_PoolsOpen_750.gif' | asset_url | split:"?" | first }}" alt="Homepage banner">
  </picture>
  <div id="banner-top-text" class="hidden">
    <span>Welcome to the</span> <em>Float Life</em>
  </div>
</div>

{% include 'homepage-layout' %}


{% comment %}
<div class="container">


  <div class="inline-row cf">
    <!-- Begin breadcrumbs -->
    <div class="breadcrumbs inline-item left">
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
      <span class="divider">{{ 'general.breadcrumbs.divider_html' | t }}</span>
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/collections" title="{{ 'collections.collection_list.title' | t | escape }}" itemprop="url"><span itemprop="title">{{ 'collections.collection_list.title' | t }}</span></a></span>
    </div>
    <!-- End breadcrumbs -->
    
    <div class="inline-item right last">
      {% include 'sharing' %}
    </div>
  </div>


  
  <div class="collection-header">
    <div class="header-text">
      <h1 class="page-title">{{ 'collections.collection_list.title' | t }}</h1>
    </div>
  </div>

  {% include 'collection-listing' with 'collection-listing' %}
</div>
{% endcomment %}