<div id="bicolorBanner" class="banner">
  <picture>
    <source media="(min-width: 1650px)" srcset="{{ 'join-family-bg.png' | asset_img_url: '1920x' | split:"?" | first }}">
    <source media="(min-width: 1440px)" srcset="{{ 'join-family-bg.png' | asset_img_url: '1650x' | split:"?" | first }}">
    <source media="(min-width: 1024px)" srcset="{{ 'join-family-bg.png' | asset_img_url: '1440x' | split:"?" | first }}">
    <source media="(min-width: 751px)" srcset="{{ 'join-family-bg.png' | asset_img_url: '1024x' | split:"?" | first }}">
    <source media="(min-width: 300px)" srcset="{{ 'join-family-bg.png' | asset_img_url: '750x350', crop: 'left' | split:"?" | first }}">
    <img src="{{ 'join-family-bg.png' | asset_img_url: '1024x' | split:"?" | first }}" alt="Homepage banner">
  </picture>
  <h1>{{ page.title }}</h1>
</div>

<div class="container">

  <p>Select an option below:</p>

  <div class="join-family-grid">
    
    <div class="creative jf-link invoke-popup-creative">
      <img class="responsively-lazy" alt="" src="{{ 'join-family-1.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'join-family-1.png' | asset_img_url: '100x' }} 100w, {{ 'join-family-1.png' | asset_img_url: '200x' }} 200w, {{ 'join-family-1.png' | asset_img_url: '300x' }} 300w, {{ 'join-family-1.png' | asset_img_url: '400x' }} 400w, {{ 'join-family-1.png' | asset_img_url: '500x' }} 500w, {{ 'join-family-1.png' | asset_img_url: '600x' }} 600w, {{ 'join-family-1.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
      <div class="join-family-text">
        <span>Creative</span>
      </div>
    </div>
    <div class="influencer jf-link invoke-popup-influencer">
      <img class="responsively-lazy" alt="" src="{{ 'join-family-2.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'join-family-2.png' | asset_img_url: '100x' }} 100w, {{ 'join-family-2.png' | asset_img_url: '200x' }} 200w, {{ 'join-family-2.png' | asset_img_url: '300x' }} 300w, {{ 'join-family-2.png' | asset_img_url: '400x' }} 400w, {{ 'join-family-2.png' | asset_img_url: '500x' }} 500w, {{ 'join-family-2.png' | asset_img_url: '600x' }} 600w, {{ 'join-family-2.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
      <div class="join-family-text">
        <span>Influencer</span>
      </div>
    </div>
    <div class="fan-club jf-link invoke-popup-hello">
      <img class="responsively-lazy" alt="" src="{{ 'join-family-3.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'join-family-3.png' | asset_img_url: '100x' }} 100w, {{ 'join-family-3.png' | asset_img_url: '200x' }} 200w, {{ 'join-family-3.png' | asset_img_url: '300x' }} 300w, {{ 'join-family-3.png' | asset_img_url: '400x' }} 400w, {{ 'join-family-3.png' | asset_img_url: '500x' }} 500w, {{ 'join-family-3.png' | asset_img_url: '600x' }} 600w, {{ 'join-family-3.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
      <div class="join-family-text">
        <span>Fan club</span>
      </div>
    </div>
    <div class="wholesale jf-link invoke-popup-wholesale">
      <img class="responsively-lazy" alt="" src="{{ 'join-family-4.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'join-family-4.png' | asset_img_url: '100x' }} 100w, {{ 'join-family-4.png' | asset_img_url: '200x' }} 200w, {{ 'join-family-4.png' | asset_img_url: '300x' }} 300w, {{ 'join-family-4.png' | asset_img_url: '400x' }} 400w, {{ 'join-family-4.png' | asset_img_url: '500x' }} 500w, {{ 'join-family-4.png' | asset_img_url: '600x' }} 600w, {{ 'join-family-4.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
      <img class="responsively-lazy opacity" alt="" src="{{ 'join-family-crown.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'join-family-crown.png' | asset_img_url: '100x' }} 100w, {{ 'join-family-crown.png' | asset_img_url: '200x' }} 200w, {{ 'join-family-crown.png' | asset_img_url: '300x' }} 300w, {{ 'join-family-crown.png' | asset_img_url: '400x' }} 400w, {{ 'join-family-crown.png' | asset_img_url: '500x' }} 500w, {{ 'join-family-crown.png' | asset_img_url: '600x' }} 600w, {{ 'join-family-crown.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
      <div class="join-family-text">
        <span>Wholesale</span>
      </div>
    </div>
    
  </div>

</div>
<div class="our-story-bottom">
  <img class="visible-desktop responsively-lazy" alt="" src="{{ 'our-story-bottom_01.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'our-story-bottom_01.png' | asset_img_url: '100x' }} 100w, {{ 'our-story-bottom_01.png' | asset_img_url: '200x' }} 200w, {{ 'our-story-bottom_01.png' | asset_img_url: '300x' }} 300w, {{ 'our-story-bottom_01.png' | asset_img_url: '400x' }} 400w, {{ 'our-story-bottom_01.png' | asset_img_url: '500x' }} 500w, {{ 'our-story-bottom_01.png' | asset_img_url: '600x' }} 600w, {{ 'our-story-bottom_01.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
  <img class="visible-desktop responsively-lazy" alt="" src="{{ 'our-story-bottom_02.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'our-story-bottom_02.png' | asset_img_url: '100x' }} 100w, {{ 'our-story-bottom_02.png' | asset_img_url: '200x' }} 200w, {{ 'our-story-bottom_02.png' | asset_img_url: '300x' }} 300w, {{ 'our-story-bottom_02.png' | asset_img_url: '400x' }} 400w, {{ 'our-story-bottom_02.png' | asset_img_url: '500x' }} 500w, {{ 'our-story-bottom_02.png' | asset_img_url: '600x' }} 600w, {{ 'our-story-bottom_02.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
  <div>
    <img class="responsively-lazy" alt="" src="{{ 'our-story-bottom_03.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'our-story-bottom_03.png' | asset_img_url: '100x' }} 100w, {{ 'our-story-bottom_03.png' | asset_img_url: '200x' }} 200w, {{ 'our-story-bottom_03.png' | asset_img_url: '300x' }} 300w, {{ 'our-story-bottom_03.png' | asset_img_url: '400x' }} 400w, {{ 'our-story-bottom_03.png' | asset_img_url: '500x' }} 500w, {{ 'our-story-bottom_03.png' | asset_img_url: '600x' }} 600w, {{ 'our-story-bottom_03.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <a class="overlay">
      <div class="title">Shop<br />_</div>
      <div class="text">Our latest collection</div>
      <div class="view-floaties">View floaties</div>
    </a>
  </div>
  <img class="visible-desktop responsively-lazy" alt="" src="{{ 'our-story-bottom_04.png' | asset_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'our-story-bottom_04.png' | asset_img_url: '100x' }} 100w, {{ 'our-story-bottom_04.png' | asset_img_url: '200x' }} 200w, {{ 'our-story-bottom_04.png' | asset_img_url: '300x' }} 300w, {{ 'our-story-bottom_04.png' | asset_img_url: '400x' }} 400w, {{ 'our-story-bottom_04.png' | asset_img_url: '500x' }} 500w, {{ 'our-story-bottom_04.png' | asset_img_url: '600x' }} 600w, {{ 'our-story-bottom_04.png' | asset_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
</div>

<section id="insta" class="visible-mobile">
  <div class="container"><h2 class="section-header line-framed"><span>Como visto no </span><em>Instagram</em></h2></div>
  <div class="header visible-desktop">
    {{ 'layout.misc.follow_us_html' | t }} <span class="fa fa-instagram"></span> <strong>floatie</strong>kings
  </div>

  <div id="instafeed" class="grid">
    <a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="square responsively-lazy" alt="#FloatieKings" src="{{ 'FK_insta_2018-03_01.png' | file_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'FK_insta_2018-03_01.png' | file_img_url: '100x' }} 100w, {{ 'FK_insta_2018-03_01.png' | file_img_url: '200x' }} 200w, {{ 'FK_insta_2018-03_01.png' | file_img_url: '300x' }} 300w, {{ 'FK_insta_2018-03_01.png' | file_img_url: '400x' }} 400w, {{ 'FK_insta_2018-03_01.png' | file_img_url: '500x' }} 500w, {{ 'FK_insta_2018-03_01.png' | file_img_url: '600x' }} 600w, {{ 'FK_insta_2018-03_01.png' | file_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
    <a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="square responsively-lazy" alt="#FloatieKings" src="{{ 'FK_insta_2018-03_02.png' | file_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'FK_insta_2018-03_02.png' | file_img_url: '100x' }} 100w, {{ 'FK_insta_2018-03_02.png' | file_img_url: '200x' }} 200w, {{ 'FK_insta_2018-03_02.png' | file_img_url: '300x' }} 300w, {{ 'FK_insta_2018-03_02.png' | file_img_url: '400x' }} 400w, {{ 'FK_insta_2018-03_02.png' | file_img_url: '500x' }} 500w, {{ 'FK_insta_2018-03_02.png' | file_img_url: '600x' }} 600w, {{ 'FK_insta_2018-03_02.png' | file_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
    <a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="square responsively-lazy" alt="#FloatieKings" src="{{ 'FK_insta_2018-03_03.png' | file_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'FK_insta_2018-03_03.png' | file_img_url: '100x' }} 100w, {{ 'FK_insta_2018-03_03.png' | file_img_url: '200x' }} 200w, {{ 'FK_insta_2018-03_03.png' | file_img_url: '300x' }} 300w, {{ 'FK_insta_2018-03_03.png' | file_img_url: '400x' }} 400w, {{ 'FK_insta_2018-03_03.png' | file_img_url: '500x' }} 500w, {{ 'FK_insta_2018-03_03.png' | file_img_url: '600x' }} 600w, {{ 'FK_insta_2018-03_03.png' | file_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
    <a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="square responsively-lazy" alt="#FloatieKings" src="{{ 'FK_insta_2018-03_04.png' | file_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'FK_insta_2018-03_04.png' | file_img_url: '100x' }} 100w, {{ 'FK_insta_2018-03_04.png' | file_img_url: '200x' }} 200w, {{ 'FK_insta_2018-03_04.png' | file_img_url: '300x' }} 300w, {{ 'FK_insta_2018-03_04.png' | file_img_url: '400x' }} 400w, {{ 'FK_insta_2018-03_04.png' | file_img_url: '500x' }} 500w, {{ 'FK_insta_2018-03_04.png' | file_img_url: '600x' }} 600w, {{ 'FK_insta_2018-03_04.png' | file_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
    <a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="square responsively-lazy" alt="#FloatieKings" src="{{ 'FK_insta_2018-03_05.png' | file_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'FK_insta_2018-03_05.png' | file_img_url: '100x' }} 100w, {{ 'FK_insta_2018-03_05.png' | file_img_url: '200x' }} 200w, {{ 'FK_insta_2018-03_05.png' | file_img_url: '300x' }} 300w, {{ 'FK_insta_2018-03_05.png' | file_img_url: '400x' }} 400w, {{ 'FK_insta_2018-03_05.png' | file_img_url: '500x' }} 500w, {{ 'FK_insta_2018-03_05.png' | file_img_url: '600x' }} 600w, {{ 'FK_insta_2018-03_05.png' | file_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
    <a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="square responsively-lazy" alt="#FloatieKings" src="{{ 'FK_insta_2018-03_06.png' | file_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'FK_insta_2018-03_06.png' | file_img_url: '100x' }} 100w, {{ 'FK_insta_2018-03_06.png' | file_img_url: '200x' }} 200w, {{ 'FK_insta_2018-03_06.png' | file_img_url: '300x' }} 300w, {{ 'FK_insta_2018-03_06.png' | file_img_url: '400x' }} 400w, {{ 'FK_insta_2018-03_06.png' | file_img_url: '500x' }} 500w, {{ 'FK_insta_2018-03_06.png' | file_img_url: '600x' }} 600w, {{ 'FK_insta_2018-03_06.png' | file_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
    <a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="square responsively-lazy" alt="#FloatieKings" src="{{ 'FK_insta_2018-03_07.png' | file_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'FK_insta_2018-03_07.png' | file_img_url: '100x' }} 100w, {{ 'FK_insta_2018-03_07.png' | file_img_url: '200x' }} 200w, {{ 'FK_insta_2018-03_07.png' | file_img_url: '300x' }} 300w, {{ 'FK_insta_2018-03_07.png' | file_img_url: '400x' }} 400w, {{ 'FK_insta_2018-03_07.png' | file_img_url: '500x' }} 500w, {{ 'FK_insta_2018-03_07.png' | file_img_url: '600x' }} 600w, {{ 'FK_insta_2018-03_07.png' | file_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
    <a class="grid-item" href="https://www.instagram.com/floatiekings/" target="_blank"><img class="square responsively-lazy" alt="#FloatieKings" src="{{ 'FK_insta_2018-03_08.png' | file_img_url: '1024x' | split:"?" | first }}" data-srcset="{{ 'FK_insta_2018-03_08.png' | file_img_url: '100x' }} 100w, {{ 'FK_insta_2018-03_08.png' | file_img_url: '200x' }} 200w, {{ 'FK_insta_2018-03_08.png' | file_img_url: '300x' }} 300w, {{ 'FK_insta_2018-03_08.png' | file_img_url: '400x' }} 400w, {{ 'FK_insta_2018-03_08.png' | file_img_url: '500x' }} 500w, {{ 'FK_insta_2018-03_08.png' | file_img_url: '600x' }} 600w, {{ 'FK_insta_2018-03_08.png' | file_img_url: '1024x' }} 700w" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
  </div>
  <div class="insta-control visible-mobile">
    <img class="insta-control-left" src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'icon-chevron-right.svg' | asset_url | split: '?' | first }}" />
    <img align="right" class="insta-control-right" src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-src="{{ 'icon-chevron-right.svg' | asset_url | split: '?' | first }}" />
  </div>

</section>