<div class="banner">
  <img src="{{ 'support-banner.jpg' | asset_url | split:"?" | first }}" alt="support-banner"/>
</div>

<div class="container">
  <div class="reading-column">
    {% comment %}<h1 class="page-title">{{ page.title }}</h1>{% endcomment %}
    <div class="rte">{% comment %}{{ page.content | replace: 'fullwidth"', '" data-fullwidth="true"' }}{% endcomment %}
    
      <p class="support-title">at <span>floatie kings</span> we are here to help you!</p>
<div class="main-support">
<ul>
<li>
<div class="supprt-block"><img src="{{'trackorder.png' | asset_url}}" />
<h2><a href="{{settings.title_url1}}">{{settings.title_text1}}</a></h2>
  <p class="supp-disc">{{settings.dics_text1}}</p></div>
</li>
<li>
<div class="supprt-block"><img src="{{'email.png' | asset_url}}" />
<h2><a href="{{settings.title_url2}}">{{settings.title_text2}}</a></h2>
<p class="supp-disc">{{settings.dics_text1}}</p>
</div>
</li>
<li>
<div class="supprt-block"><img src="{{'wholesale.png' | asset_url}}" />
<h2><a href="{{settings.title_url3}}">{{settings.title_text3}}</a></h2>
<p class="supp-disc">{{settings.dics_text3}}</p>
</div>
</li>
<li>
<div class="supprt-block"><img src="{{'generalinquiries.png' | asset_url}}" />
<h2><a href="{{settings.title_url4}}">{{settings.title_text4}}</a></h2>
<p class="supp-disc">{{settings.dics_text4}}</p>
</div>
</li>
</ul>
</div>
    
    
    </div>
  </div>
</div>